<!DOCTYPE html>
<html>
	<head>
		<title>Jaunts</title>
	</head>
	<body>
		<h1>Jaunts</h1>
		<ul>
			<li>Populate with jaunts</li>
			<li>once we have users created</li>
			<li>meanwhile, I guess i do it with dummy jaunts</li>
			<li>that don't have the ObjectId's from non-existent users?</li>
		</ul>
	</body>
</html>