<!DOCTYPE html>
<html>
	<head>
		<title>Jaunts</title>
	</head>
	<body>
		<nav>
			<a href='/'>Home</a> | <a hef='/users'>User</a> | <a href='/jaunts'>Jaunts</a> | <a href="/favorites">Favorites</a>
		</nav>
		<h1>Jaunts</h1>
		<ul>
			<% for (let i = 0; i < jaunts.length; i++){%>
			<a href="/jaunts/<%=jaunts[i]._id%>">
			<li><%=jaunts[i].title%></li></a>
			<%}%>
		</ul>
		<footer>
			<a href="/jaunts/new"><p>Add A New Route</p></a>
		</footer>
	</body>
</html>