<!DOCTYPE html>
<html>
<head>
	<title>Jaunt-E</title>
</head>
<body>
	<nav>
		<a href='/'>Home</a> | <a href='/users'>Profile</a> | <a href='/jaunts'>Jaunts</a> | <a href="/poi">Places Of Interest</a> 
	</nav>