<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">

	<title>Jaunt-E</title>
</head>
<body>
	<nav>	
		<div class="navigation">
			<h1>JAUNT-E</h1>
			<a href='/'><div>Home</div></a> | <a href='/users'><div>Profile</div></a> | <a href='/jaunts'><div>Jaunts</div></a> | <a href="/poi"><div>Places Of Interest</div></a> 
		<div>
	</nav>