<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

	<title>Jaunt-E</title>
</head>
<body>
	<nav>
		<div class="navigation">
			<li><h1>JAUNT-E</h1></li>
			<li><a href='/' class='buttons'>Home</a></li>
			<li><a href='/users' class='buttons'>Profile</a></li>
			<li><a href='/jaunts' class='buttons'>Jaunts</a></li>
	</nav>