body {
	background-image: url('../images/splash.jpg');
	background-position: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-content: center
	align-items: center;
}

.logo {
	display: flex;

}

.navigation {
	display: flex;
}

li {
	list-style-type: none;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
}

