body { 
	background-image: url('../images/splash.jpg');
	background-position: center;
	display: flex-inline;
	justify-content: center;
}

nav {
	width: 70%;
/*	flex-direction: row;*/
	border-radius: 10px;
	border-style: dashed;
}

li {
	list-style-type: none;
	font-weight: thick;
	font-color: white;
}

.navigation {
/*	flex-direction: row;*/
	padding: 40px;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
}


