<%- include ../header.ejs%>
		</nav>
		<h1>Favorites</h1>
		<ul>
			<% for (let i = 0 ; i < faves.length; i++){%>
			<li><a hef="jaunts/<%=faves[i].jauntId%>"><%=faves[i].title%></li>
			<%}%>
		</ul>

<%- include ../footer.ejs%>