<!DOCTYPE html>
<html>
	<head>
		<title>Favorite Index</title>
	</head>
	<body>
		<nav>
			<a href='/'>Home</a> | <a hef='/users'>User</a> | <a href='/jaunts'>Jaunts</a> | <a href="/favorites">Favorites</a>
		</nav>
		<h1>Favorites</h1>
		<ul>
			<li>a list of</li>
			<li> favorited routes</li>
			<li> of the user </li>
		</ul>
	</body>
</html>