<!DOCTYPE html>
<html>
	<head>
		<title>Favorite Index</title>
	</head>
	<body>
		<nav>
			<a href='/'>Home</a> | <a href='/users'>User</a> | <a href='/jaunts'>Jaunts</a> | <a href="/poi">Places Of Interest</a> | <a href="/favorites">Favorites</a>
		</nav>
		<h1>Favorites</h1>
		<ul>
			<% for (let i = 0 ; i < faves.length; i++){%>
			<li><a hef="jaunts/<%=faves[i].jauntId%>"><%=faves[i].title%></li>
			<%}%>
		</ul>
	</body>
</html>