<!DOCTYPE html>
<html>
	<head>
		<title>Add A Fave</title>
	</head>
	<body>
		<nav>
		<a href='/'>Home</a> | <a hef='/users'>User</a> | <a href='/jaunts'>Jaunts</a> | <a href="/favorites">Favorites</a>
		</nav>
		<h1>New Favorite</h1>
	</body>
</html>