<%- include ../header.ejs%>

		<nav>
		<a href='/'>Home</a> | <a href='/users'>User</a> | <a href='/jaunts'>Jaunts</a> | <a href="/favorites">Favorites</a>
		</nav>
		<h1>New Favorite</h1>

<%- include ../footer.ejs%>