<%- include ../header.ejs%>
<div class="home">
<div class="contentbox">
		<h1>Places of Interest</h1>
		 <ul>
        <% for (i = 0; i < pois.length; i++) {%>
        	<li>
            	<a href='/poi/<%=pois[i]._id%>'><%=pois[i].title%></a>
        	</li>
        <%}%>
	</ul>
	<footer>
			<a href="/poi/new"><p>Add A New Place of Interest</p></a>
	</footer>
</div>
</div>
<%- include ../footer.ejs%>