<%- include ../header.ejs%>


	<h1>Edit Your Profile</h1>
	<form action='/users/<%=user.id%>?_method=PUT', method='POST'>
		Username: <input type='text' name='username' value = <%=user.username%>><br/>
		Password: <input type='password' name='password'><br/>
		<input type='submit' value='Edit Profile'>
	</form>

<%- include ../footer.ejs%>