<%- include ../header.ejs%>

	    <h1>JAUNTE-E Users</h1>
	    <ul>
	        <% for (i = 0; i < users.length; i++) {%>
	        <li>
	            <a href='/users/<%=users[i]._id%>'><%=users[i].username%></a>
	        </li>
	        <%}%>
		</ul>
		<footer>
			<a href="users/login"><p>Login To The Site</p></a>
		</footer>

<%- include ../footer.ejs%>