<%- include ../header.ejs%>
	<h1>Register For The Site</h1>
	<form action='/users', method='POST'>
		
		Username: <input type='text' name='username'><br/>
		Password: <input type='text' name='password'><br/>
		<input type='submit' value='Join JAUNT-E'>
	</form>

<%- include ../footer.ejs%>