<%- include ../header.ejs%>
		<h1>Jaunts</h1>
		<ul>
			<% for (let i = 0; i < jaunts.length; i++){%>
			<a href="/jaunts/<%=jaunts[i]._id%>">
			<li><%=jaunts[i].title%></li></a>
			<%}%>
		</ul>
		<footer>
			<a href="/jaunts/new"><p>Add A New Jaunt</p></a>
		</footer>

<%- include ../footer.ejs%>