<!DOCTYPE html>
<html>
	<head>
		<title>Places Of Interest</title>
	</head>
	<body>
		<h1>Places of Interest</h1>
		 <ul>
        <% for (i = 0; i < pois.length; i++) {%>
        	<li>
            	<a href='/poi/<%=pois[i]._id%>'><%=pois[i].title%></a>
        	</li>
        <%}%>
	</ul>
	</body>
</html>